# Ignore model weights
best_model.pt
sample_best_model.pt
*.pt

# Ignore data folder
data/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Optional: ignore Jupyter checkpoints
.ipynb_checkpoints/

# Optional: OS files
.DS_Store
Thumbs.db

tp.py